body {
	color: #444;
	font-size: 18px;
	line-height: 1.6;
	margin: 40px auto;
	max-width: 700px;
	padding: 0 10px;
}

blockquote {
	background: #f0f0f0;
	margin: 1em 5px;
	padding: 1em 10px;
}

pre {
	overflow: scroll;
}

div {
	overflow: scroll;
}
